:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
  background-color: #242424 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: transparent !important;
  color: white !important;
}

h2{
  color: #242424 !important;
}
main{
  max-width: 800px;
  margin: auto;
}

p{
  background-color: darkslategray;
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
  color: wheat;
}

p span{
  margin: 5px;
  max-width: 70%;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  display: flex;
  background-color: #4a0075;
  flex-direction: row-reverse;
}

.ai_msg{
  text-align: left;
  margin-right: 30%;
  display: flex;
  background-color: #2f4f4f;
  flex-direction: row;
}

.user_msg_div{
  justify-content: flex-end;
  padding-right: 15px;
}

.ai_msg_div{
  justify-content: flex-start;
  padding-left: 15px;
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
}

input{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(28, 23, 23);
  color: wheat;
}

input:focus{
  outline: none;
}

.chat-container {
  max-height: 100%; /* Adjust the height as needed */
  /*overflow-y: scroll;*/
}

pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.25rem;
  margin-bottom: 0 !important;
}

.card{
  padding: 1rem !important;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  font-size: 10px;
  opacity: 0.75; /* Firefox */
}

header h2 {
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
header{
  background-color: white;
  margin-top: -2rem;
}

.sidebar {
  position: absolute;
  top: 70px;
  left: -18vw;
  height: 100%;
  width: 18vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
  border-radius: 30px;
}
.sidebar-toggle {
  position: absolute;
  top: 40%;
  right: -70px;
  height: 60px;
  width: 100px;
  z-index: 1;
  font-size: 10px;
  border-radius: 30px;
  border : 0;
  background-color: white;


}


.sidebar-right {
  position: absolute;
  top: 70px;
  right: -18vw;
  height: 100%;
  width: 18vw;
  transition: right 0.3s ease-in-out;
  background-color: lightgray;
  border-radius: 30px;

}

.sidebar-toggle-right {
  position: absolute;
  top: 40%;
  left: -70px;
  height: 60px;
  width: 100px;
  z-index: 1;
  font-size: 10px;
  border-radius: 30px;
  border : 0;
  background-color: white;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar.open {
  left: 0;
}

.sidebar-right.open {
  right: 0;
}
.content.open {
  left: 15vw;
}
